# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives:**
* Python
* R
* Java
* Scala

Some of the popular languages that Data Scientists use are:
1. Python
3. R
2. Scala
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4.  Matplotlib

| Data Science Tools|
|-----|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author 
Bohdan